@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Roboto:wght@500&display=swap');

html{
  font-family: 'Roboto', sans-serif;
    background-color: #E2F1F1;
}

.header{
  text-align: center;
  margin-bottom: 10vh;
}

.register-section{
  display: flex;
  justify-content: center;
}

.title{
  color: blue;
  font-family: 'Courgette', cursive;
}

.form{
  width: 250px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.input{
  background-color: transparent;
  box-sizing: border-box; 
  padding: 5px;
  border: none;
  font-family:inherit;
  outline: none; 
  color: #465270;
}

.label{
  color: #1355F0;
}

.submit{
  box-sizing: border-box; 
  padding: 5px;
  width: 45%;
  cursor: pointer; 
  border: none;
  background-color: #1355F0;
  color: white; 
  font-family: inherit;
  border-radius: 2px;
  box-shadow: 3px 2px #0297F2;
}

.submit:active{
  box-shadow: none; 
}

input:focus{
 border-bottom: 2px solid #1355F0;
  transform: translate(1px, 2px);
  animation: line 0.5s ease reverse;
}

@keyframes line{
  to{
    width: 0;
  }
  from{
    width: 100%;
  }
}

.table-section{
  display: flex;
  justify-content: center;
  margin-top: 10vh;
}

.table{
  color: #1355F0;
  background-color: white;
  border: 1px solid #1355F0;
  width: 50%;
  box-sizing: border-box;
}

th{
  font-family: 'Courgette', cursive;
  font-size: 1.2rem;
  background-color: #b6d0ff ;
}

td{
  text-align: center;
}

tr:nth-child(even){
  background-color: #b6d0ff ;
}

.delete-button{
  background-color:  #4280f5;
  cursor: pointer;
  border-radius: 5px;
  font-family: 'Courgette';
  border: none;
  padding: 10px;
  box-sizing: border-box;
  color: white;
  margin-left: 40%;
  font-weight: 700;
}

.tips{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5vh;
}

.message{
  font-family: 'Courgette';
  font-size: 0.9rem;
  padding: 5px;
  box-sizing: border-box;
  color: #1355F0;
}
